*{
    font-family: 'Libre Baskerville','Helvetica','Cairo';
}

body{
    box-sizing: border-box;
}


/*Navigation*/
#navigation{
    position:sticky;
    top:0px;
    width:100%;
    z-index: 100;
}


/* Header */
#header{
    margin: 0px;
    padding: 20px;
    background-image:linear-gradient(#ff512f,#dd2476);
    color:whitesmoke;
    width:100%;
    min-height:25vh;

    display:flex;
    align-items:center;
    justify-content:center;
}

/*Main*/
main{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
#about{
    margin: 5vh 5vw;
}
#experience{
    margin: 5vh 5vw;
}
#skills{
    margin: 5vh 5vw;
}
#projects{
    margin: 5vh 5vw;
}

@media only screen and (max-width:991px) {
    h2{
        text-align:center;
    }
}

footer{
    margin-top: 10vh;
    padding: 4vh 2vw;
    width: 100%;
    min-height: 30vh;
    background-color:black;
}


#loader-screen{
    width: 100vw;
    height: 100vh;
    background-color: grey;
    opacity: 0.5;
    position: relative;

    padding:0;
    margin: 0;
}

#loader{
    padding:0;
    margin: 0;
    
    width: 100px;
    height: 100px;

    border-radius: 100%;
    border: 20px;
    border: 20px solid white;
    border-top: 20px solid blue;;

    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
    
    animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(90deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(270deg);}
  100% { transform: rotate(360deg);}
}